# THIS IS INTENTIONALLY VULNERABLE
# ALL of the below dependencies have CVEs associated with them.
Django==1.11.29
requests==2.20.0
numpy==1.16.0
pandas==0.23.4
Flask==1.0.2
scipy==1.2.0
scikit-learn==0.20.2
matplotlib==2.2.3
seaborn==0.9.0
beautifulsoup4==4.6.3
lxml==4.2.5
pytz==2018.7
six==1.11.0
psycopg2==2.7.6.1
mysqlclient==1.3.14
Pillow==5.4.1
pyOpenSSL==19.0.0
cryptography==2.6.1
pyasn1==0.4.5
urllib3==1.24.1
